.character-card {
  background: #3f2315;
  color: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 370px;
}

.character-card:hover {
  transform: translateY(-4px);
}

.character-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  background: #333;
}

.character-info {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-info h3 {
  margin: 6px 0;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .character-card {
    height: 500px;
  }

  .character-image {
    height: 370px;
  }

  .character-info {
    padding: 5px 10px;
  }
}