* {
  box-sizing: border-box;
}

.loader,
.error {
  text-align: center;
  margin-top: 150px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .characters-page,
  .spells-page {

    margin-left: 0;
    padding: 70px 15px 30px;
  }
}
